.features-traits-title {
  margin-bottom: -40px;
}

.img-hover-zoom .zoom-container {
  overflow: hidden;
}

.img-hover-zoom .zoom-container img {
  transition: transform 0.5s ease;
}

.img-hover-zoom .zoom-container:hover img {
  transform: scale(0.9);
}
@media (min-width: 768px) {
  .features-traits-title {
    margin-bottom: -55px;
  }
}
