.sending-footer {
    bottom: 0;
    width: 100%;
    border-top: 0.5px solid #e9f2ff;
  }
  
  @media (min-width: 913px) {
    .sending-footer {
      bottom: 0;
      width: 82%;
      margin-left: auto;
    }
  }