.blur-on-scroll {
  backdrop-filter: blur(4px);
  transition: backdrop-filter 0.9s ease-out;
}

.header-name {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #e9f2ff;
}

.header-title {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #e9f2ff;
}

.header-border {
  color: #e9f2ff;
}

.nav-link {
  font-size: 12px;
  color: #e9f2ff;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 4%;
  width: 92%;
  height: 1.2px;
  background-color: rgba(233, 242, 255, 0.3);
}

.progress-bar-scrolling {
  width: 100%;
  background-color: #e9f2ff;
}

@media (min-width: 768px) {
  .header-name {
    font-family: "Cormorant Unicase", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
  }

  .nav-link {
    font-size: 14px;
  }
}
