.blur-on-scroll {
  backdrop-filter: blur(4px);
  transition: backdrop-filter 0.9s ease-out;
}

.header-name {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #e9f2ff;
}

.nav-link {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .8rem;
  color: #e9f2ff;
}

.header-border {
  color: #e9f2ff;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 3.5%;
  width: 93%;
  height: 1.2px;
  background-color: rgba(233, 242, 255, 0.3);
}

.progress-bar-scrolling {
  width: 100%;
  background-color: #e9f2ff;
}

@media (min-width: 768px) {
  .header-name {
    font-size: 1.5rem;
  }

  .header-title,
  .nav-link {
    font-size: 1.1rem;
    font-weight: 400;
    color: #e9f2ff;
  }

  .progress {
    left: 3%;
    width: 94.1%;
  }
}
