.blur-on-scroll {
    backdrop-filter: blur(4px);
    transition: backdrop-filter 0.9s ease-out;
}

.logo {
    width: 90%;
}

.header {
    font-size: 15px;
    margin-top: 11px;
}

@media (min-width: 768px) {
    .logo {
      width: 100px;
    }
  }