/* .home {
  margin-top: 30%;
} */

.vanessa-image {
  max-width: 75%;
  max-height: 60vh;
}

.title {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 200px;
  letter-spacing: -8px;
  word-spacing: -20px;
  color: #e9f2ff;
}

.accent {
  font-family: "Cormorant Unicase", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  color: #878da5;
}

p {
  color: #e9f2ff;
}

@media (min-width: 768px) {
  /* .home {
    margin-top: 12%;
  } */

  h1 {
    font-family: "Bigelow Rules", serif;
    font-weight: 600;
    font-size: 100px;
    font-style: normal;
    color: #878da5;
  }

  .vanessa-image {
    max-width: 100%;
    max-height: 65vh;
  }
}