/* home page title layout and design */

.home-accent {
  margin-bottom: -65px;
}

.home-title {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 120px;
  letter-spacing: -10px;
  word-spacing: -3px;
  color: #e9f2ff;
}

.home-i-am {
  margin-left: -5px;
}

.home-title-vanessa {
  margin-top: -30px;
}

/* home body layout and design */

.home-text {
  color: #e9f2ff;
  font-size: 14px;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
}

/* all buttons */

.btn {
  font-family: "Almarai", sans-serif;
  font-size: 22px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: #e9f2ff;
}

.marquee {
  height: 75px;
  overflow: hidden;
  position: relative;
}

.marquee p {
  position: absolute;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 40s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {

  .home-accent {
    margin-bottom: -80px;
    margin-left: 6px;
  }

  .home-title {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 280px;
    letter-spacing: -25px;
    word-spacing: -15px;
    color: #e9f2ff;
  }

  .home-i-am {
    margin-left: -15px;
  }

  .home-title-vanessa {
    margin-top: -80px;
  }

  .home-text {
    font-size: 30px;
    font-weight: 400;
    width: 45%;
  }

  .btn {
    font-size: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
