/* home page layout */

.home-container {
  position: relative;
  overflow: hidden;
}

/* home fonts and sizing */

.home-accent {
  margin-left: 8px;
}

.home-title {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 120px;
  letter-spacing: -10px;
  word-spacing: -3px;
  color: #e9f2ff;
  margin-top: -30px;
}

.home-i-am {
  margin-left: -5px;
}

.home-title-vanessa {
  margin-top: -30px;
}

.home-text {
  color: #e9f2ff;
  font-size: 14px;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
}

/* marquee animation for home accent text */

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee .marquee-inner {
  animation-duration: 250s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
}

.marquee .marquee-inner > div {
  display: inline-block;
}

.marquee:hover .marquee-inner {
  animation-play-state: paused;
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  /* home fonts and sizing */

  .home-title {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 280px;
    letter-spacing: -25px;
    word-spacing: -15px;
    color: #e9f2ff;
    margin-top: -80px;
  }

  .home-i-am {
    margin-left: -15px;
  }

  .home-title-vanessa {
    margin-top: -80px;
  }

  .home-text {
    font-size: 30px;
    font-weight: 400;
    width: 45%;
  }
}
