/* site layout */

.bg-home {
  display: flex;
  align-items: center;
}

.bg-quests,
.bg-sending,
.bg-featuresAndTraits,
.bg-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* text stylings */

.accent {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  color: #A1A6B8;
}

.body-text {
  color: #e9f2ff;
  font-size: .92rem;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
}

/* component title */

.component-title {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-size: 7rem;
  font-weight: 300;
  font-stretch: 54%;
  color: #F2F2F5;
}

.component-title-sm {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-size: 4.5rem;
  font-weight: 300;
  font-stretch: 54%;
  color: #F2F2F5;
  margin-bottom: -18px;
}

/* all buttons */

:root {
  --marquee-text-color: #F2F2F5;
}

.btn {
  font-family: "Almarai", sans-serif;
  font-size: 1.4rem;
  padding: 2px 8px 2px 8px;
  color: var(--marquee-text-color);
  transform: translate(0px, 0%);
}

/* button marquee */

.default-text {
  display: inline-block;
  transition: opacity 0.1s;
}

.marquee-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.marquee-btn-inner {
  width: fit-content;
  display: flex;
  position: relative;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  color: var(--marquee-text-color);
}

.marquee-btn-inner > span {
  padding-right: 20px;
}

/* animate the marquee */

.btn:hover .marquee-btn-inner {
  animation: marquee-btn-content 5s linear infinite;
  opacity: 1;
}

.btn:hover .default-text {
  opacity: 0;
}

@keyframes marquee-btn-content {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* md to xl screens */

@media (min-width: 768px) {
  /* site layout */

  /* fonts */
  .component-title {
    font-size: 9rem;
  }

  .component-title-sm {
    font-size: 7.3rem;
    margin-bottom: 6px;
  }

  .accent {
    font-size: 2.3rem;
  }

  .body-text {
    font-size: 1.7rem;
  }

  /* all buttons */

  .btn {
    font-size: 2rem;
    padding: 2px 15px 2px 15px;
  }
}
