.bg-home {
    height: 100vh;
    background-image: url("../images/background/home-background.jpg");
    background-size: cover;
    display: flex;
}

.bg-featuresAndTraits {
    height: 100vh;
    display: flex;
}