/* site layout */

.bg-home {
  display: flex;
  align-items: center;
}

.bg-quests,
.bg-sending,
.bg-featuresAndTraits,
.bg-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* fonts */

.accent {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #878da5;
}

.body-text {
  color: #e9f2ff;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

/* all buttons */

.btn {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Almarai", sans-serif;
  font-size: 22px;
  padding: 2px 8px 2px 8px;
  color: #e9f2ff;
}

/* button marquee */

.marquee-btn .marquee-btn-inner {
  display: none;
}

.default-text {
  display: inline-block;
}

.marquee-btn:hover .marquee-btn-inner {
  display: inline-block;
}

.marquee-btn:hover .default-text {
  display: none;
}

/* animate the marquee */
.marquee-btn:hover .marquee-btn-inner {
  animation: marquee-btn-content 15s linear infinite;
}

@keyframes marquee-btn-content {
  to {
    transform: translateX(-100%);
  }
}

/* md to xl screens */

@media (min-width: 768px) {
  /* site layout */

  .bg-home {
    align-items: center;
  }

  /* fonts */

  .accent {
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #878da5;
  }

  .body-text {
    font-size: 25px;
  }

  /* all buttons */

  .btn {
    font-size: 30px;
    padding: 2px 15px 2px 15px;
  }
}
