#offcanvasNavbar {
  background-image: url("https://wallpapers.com/images/hd/paper-with-water-stains-8oyuxjh4gpbc5iy7.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
