/* .quests-title {
  margin-bottom: -40px;
} */

.star-img {
  width: 30px;
  height: 30px;
}

.body-text-quest-p {
  margin-top: -0.1rem;
}

.quest-text {
  margin-top: -1.2rem;
  margin-bottom: 0px;
}

.quest-info {
  margin-right: -5px;
}

@media (min-width: 768px) {
  /* .quests-title {
    margin-bottom: -55px;
  } */

  .star-img {
    width: 40px;
    height: 40px;
  }

  .body-text-quest-p {
    margin-top: -1rem;
  }

  .quest-text {
    margin-top: -38px;
    margin-bottom: 1px;
  }
}
