/* .quests-title {
  margin-bottom: -40px;
} */

.star-img {
  width: 30px;
  height: 30px;
}

.quest-text {
  margin-top: -1.2rem;
  margin-bottom: 0px;
}

.quest-info {
  margin-right: -5px;
}

@media (min-width: 768px) {
  /* .quests-title {
    margin-bottom: -55px;
  } */

  .quest-accent {
    margin-bottom: -0.3rem;
  }

  .star-img {
    width: 40px;
    height: 40px;
  }

  .quest-text {
    margin-top: -38px;
    margin-bottom: 1px;
  }
}
