/* home page layout */

.home-container {
  /* position: relative; */
  overflow: hidden;
}

/* home fonts and sizing */

/* consider using Inter Tight font or Urbanist font for Titles
 */

.home-accent {
  margin-left: 8px;
}

.home-i-am,
.home-title-vanessa {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-size: 14rem;
  font-weight: 300;
  font-stretch: 55%;
  color: #e9f2ff;
}

.home-i-am {
  margin: -45px 0px -110px -2px;
}

.home-title-vanessa {
  margin-bottom: -60px;
}

.home-text {
  color: #e9f2ff;
  font-size: 0.9rem;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
}

/* marquee animation for home accent text */

.marquee-accent {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-accent .marquee-accent-inner {
  animation: marquee-accent-content 250s linear infinite;
}

.marquee-accent .marquee-accent-inner > div {
  display: inline-block;
}

.marquee-accent:hover .marquee-accent-inner {
  animation-play-state: paused;
}

@keyframes marquee-accent-content {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  /* home fonts and sizing */

  .home-i-am,
  .home-title-vanessa {
    font-size: 21rem;
  }

  .home-i-am {
    margin: -80px 0px -170px -2px;
  }

  .home-title-vanessa {
    margin-bottom: -108px;
  }

  .home-text {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .marquee-accent {
    width: 98%;
    margin-left: 17px;
  }
}
