/* home page layout */

.home-container {
  position: relative;
  overflow: hidden;
}

/* home fonts and sizing */

/* consider using Inter Tight font or Urbanist font for Titles
 */

.home-accent {
  margin-left: 8px;
}

.home-title {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  letter-spacing: -10px;
  word-spacing: -3px;
  color: #e9f2ff;
  margin-top: -30px;
}

.home-i-am, .home-title-vanessa {
  font-size: 8.5rem;
}

.home-i-am {
  margin-left: -6.5px;
}

.home-title-vanessa {
  margin-top: -34px;
}

.home-text {
  color: #e9f2ff;
  font-size: 1rem;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
}

/* marquee animation for home accent text */

.marquee-accent {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-accent .marquee-accent-inner {
  animation: marquee-accent-content 250s linear infinite;
}

.marquee-accent .marquee-accent-inner > div {
  display: inline-block;
}

.marquee-accent:hover .marquee-accent-inner {
  animation-play-state: paused;
}

@keyframes marquee-accent-content {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  /* home fonts and sizing */

  .home-title {
    letter-spacing: -25px;
    word-spacing: -15px;
    margin-top: -80px;
  }

  .home-i-am, .home-title-vanessa {
    font-size: 18rem;
  }

  .home-i-am {
    margin-left: -17px;
  }

  .home-title-vanessa {
    margin-top: -88px;
  }

  .home-text {
    font-size:  1.7rem;
    font-weight: 400;
  }
}
