



.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #f8f9fa; /* Change the background color as needed */
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .small-word {
    font-size: 10px; /* Adjust the font size as needed */
  }
  
  /* Add a specific class for the "Menu" text */
  .menu-text {
    /* Align "Menu" text to the right */
    color: black; /* Change the font color to the desired color */
  }
  
  /* Style for the "Menu" text within the button */
  .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent; /* Remove background color */
  }
